body, p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	background-color: #c1deec;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

header {
	height: 46px;
	width: auto;
	background-color: #fff;
	margin-bottom: 5px;
}

.container {
	width: 1200px;
	margin: 0 auto;
	background-color: #fff;
}

.info, .feed, .following {
	margin: 5px;
	float: left;
    background-color: #fff;
}

.info {
	width: 290px;
	height: 200px;
}

.feed {
	width: 590px;
	height: auto;
	border-radius: 6px 6px 0 0;
}

.following {
	width: 290px;
	height: 300px;
}

.tweetBlock {
	width: auto;
	min-height: 50px;
	background-color: #fff;
	border-right: 1px solid #e1e8ed;
	border-bottom: 1px solid #e1e8ed;
	border-left: 1px solid #e1e8ed;
	padding: 13px;
	position: relative;
}

.feed div:nth-of-type(1) { 
    border-radius: 6px 6px 0 0;
}

.tweet {
	font-size: 14px;
	color: #292f33;
	display: inline-block;
/*	position: relative;
	left: 65px;*/
}

.tweet.name {
	font-weight: bold;
}
.tweet.name a {
	text-decoration: none;
	color: #292f33;
}
.tweet.name a:hover {
	text-decoration: underline;
	color: #0084B4;
}

.tweet.contact, .tweet.time {
	font-size: 13px;
	color: #8899a6;
	font-weight: normal;
}

.tweet.message {
	
}

.avatar {
	display: inline;
	float: left;
	margin-right: 13px;
	/*position: absolute;*/
}
.clearfix {
	overflow: auto;
}

/* ======= Info Section ========
==============================*/
.info {
	border-radius: 6px;
}

.info > .top {
	height: 48%;
	width: auto;
	background-color: #1b84b1;
	border-radius: 6px 6px 0 0;
}

.info > .bottom {
	height: 52%;
	width: auto;
	background-color: #fff;
	border-radius: inherit;
}


.info > .bottom img  {
	float: left;
	width: 67px;
	height: 67px;
	position: relative;
	top: -40px;
	border: 3px solid #fff;
	border-radius: 5px;
	margin: 10px 10px 0 10px;
}

.profile {
	float: left;
}
.profile.name {
	font-weight: 700;
	line-height: 21px;
	font-size: 18px;
	margin-top: 7px; 
}
.profile.contact {
	font-weight: 400;
	line-height: 16px;
	font-size: 12px;
	color: #66757f;
	margin-top: 1px;
}
.userInfo {
	height: 50%;
}
.userStats {
	height: auto;
	position: absolute;
	padding: 4px 12px;
	text-align: left;
}
.stat{
	margin-right: 23px;
	min-width: auto;
	height: 30px;
	font-size: 10px;
	/*position: absolute;*/
	float: left;
	display: inline-block;
}
.stat h2 {
	font-size: 10px;
	font-weight: 400;
	color: #8c9ca9;
	text-transform: uppercase;
}
.stat p {
	font-size: 18px;
	font-weight: 500;
	padding-top: 1px;
	color: #0084B4;
	text-transform: uppercase;
}