body {
	margin: 0;
	background-color: #c1deec;
}

.container {
	width: 1200px;
	margin: 0 auto;
	background-color: #fff;
}

.info, .feed, .following {
	margin: 5px;
	float: left;
	border-radius: 5px;
    background-color: #fff;
}

.info {
	width: 290px;
	height: 200px;
}

.feed {
	width: 590px;
	height: auto;
}

.following {
	width: 290px;
	height: 300px;
}

.tweet {
	width: auto;
	height: 75px;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}

